<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>Store_PerformanceTests</key>
		<dict>
			<key>test_measureComplexStateUpdates()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.046902</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_measureDispatchThroughput()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.061101</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_measureDispatchWithDelaysThroughput()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.027871</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_measureMiddlewareImpact()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.038768</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_measurePublisherPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.043790</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_measureSyncDispatchLatency()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.003969</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_memoryUsageWithLargeState()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.059265</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
