<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CallFlow_PerformanceTests</key>
		<dict>
			<key>test_performance_with2Participants()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Memory-io.getstream.iOS.VideoDemoApp.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>414000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory-io.getstream.iOS.VideoDemoApp.physical_absolute</key>
				<dict>
					<key>baselineAverage</key>
					<real>414000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory-io.getstream.iOS.VideoDemoApp.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>802000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
