name: Cron Checks

on:
  schedule:
    # Runs "At 01:00 every night except weekends"
    - cron: '0 1 * * 1-5'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-test-app-and-frameworks:
    name: Build Test App and Frameworks
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/ruby-cache
    - uses: ./.github/actions/xcode-cache
    - name: Build
      run: bundle exec fastlane build_test_app_and_frameworks
      timeout-minutes: 60
    - uses: actions/upload-artifact@v4
      if: success()
      with:
        name: cache-derived-data
        path: |
          derived_data/Build/**/*.app
          derived_data/Build/**/*.xctestrun
          derived_data/Build/**/*.framework

  test-e2e-debug:
    name: Test E2E UI (Debug)
    needs: build-test-app-and-frameworks
    strategy:
      matrix:
        include:
          - ios: "26.1"
            device: "iPhone 17 Pro"
            setup_runtime: false
          - ios: "18.5"
            device: "iPhone 16 Pro"
            setup_runtime: false
          - ios: "17.5"
            device: "iPhone 15 Pro"
            setup_runtime: true
          - ios: "16.4"
            device: "iPhone 14 Pro"
            setup_runtime: true
          - ios: "15.5"
            device: "iPhone 13 Pro"
            setup_runtime: true
      fail-fast: false
    runs-on: macos-15
    env:
      GITHUB_EVENT: ${{ toJson(github.event) }}
      ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
      XCODE_VERSION: "26.1.1"
      IOS_SIMULATOR_DEVICE: "${{ matrix.device }} (${{ matrix.ios }})"
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: actions/download-artifact@v4
      with:
        name: cache-derived-data
        path: derived_data/Build/
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_ALLURE: true
        INSTALL_VIDEO_BUDDY: true
        INSTALL_YEETD: true
        INSTALL_IPSW: true
        SKIP_SWIFT_BOOTSTRAP: true
    - uses: ./.github/actions/setup-ios-runtime
      if: ${{ matrix.setup_runtime }}
      timeout-minutes: 60
      with:
        version: ${{ matrix.ios }}
        device: ${{ matrix.device }}
    - name: Launch Allure TestOps
      run: bundle exec fastlane allure_launch cron:true
    - name: Run UI Tests (Debug)
      run: bundle exec fastlane test_e2e device:"${{ env.IOS_SIMULATOR_DEVICE }}" cron:true test_without_building:true
      timeout-minutes: 90
      env:
        STREAM_SDK_TEST_APP: ${{ secrets.STREAM_SDK_TEST_APP }}
        STREAM_SDK_TEST_ACCOUNT_EMAIL: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_EMAIL }}
        STREAM_SDK_TEST_ACCOUNT_PASSWORD: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_PASSWORD }}
        STREAM_SDK_TEST_ACCOUNT_OTP_SECRET: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_OTP_SECRET }}
    - name: Allure TestOps Upload
      if: success() || failure()
      run: bundle exec fastlane allure_upload launch_id:$LAUNCH_ID
    - name: Allure TestOps Launch Removal
      if: cancelled()
      run: bundle exec fastlane allure_launch_removal launch_id:$LAUNCH_ID
    - name: Parse xcresult
      if: failure()
      run: |
        brew install chargepoint/xcparse/xcparse
        xcparse logs fastlane/test_output/DemoApp.xcresult fastlane/test_output/logs/
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: Test Data E2E (iOS ${{ matrix.ios }})
        path: |
          fastlane/recordings
          fastlane/*.log
          fastlane/test_output/report.junit
          fastlane/test_output/logs/*/Diagnostics/**/*.txt
          fastlane/test_output/logs/*/Diagnostics/simctl_diagnostics/DiagnosticReports/*

  build-and-test-debug:
    name: Test LLC (Debug)
    strategy:
      matrix:
        include:
          - ios: "26.1"
            device: "iPhone 17 Pro"
            setup_runtime: false
          - ios: "18.5"
            device: "iPhone 16 Pro"
            setup_runtime: false
          - ios: "17.5"
            device: "iPhone 15 Pro"
            setup_runtime: true
          - ios: "16.4"
            device: "iPhone 14 Pro"
            setup_runtime: true
          - ios: "15.5"
            device: "iPhone 13 Pro"
            setup_runtime: true
      fail-fast: false
    runs-on: macos-15
    env:
      XCODE_VERSION: "26.1.1"
      IOS_SIMULATOR_DEVICE: "${{ matrix.device }} (${{ matrix.ios }})"
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_YEETD: true
        INSTALL_IPSW: true
    - uses: ./.github/actions/setup-ios-runtime
      if: ${{ matrix.setup_runtime }}
      timeout-minutes: 60
      with:
        version: ${{ matrix.ios }}
        device: ${{ matrix.device }}
    - name: Run LLC Tests (Debug)
      run: bundle exec fastlane test device:"${{ env.IOS_SIMULATOR_DEVICE }}" cron:true
      timeout-minutes: 60
    - name: Parse xcresult
      if: failure()
      run: |
        brew install chargepoint/xcparse/xcparse
        xcparse logs fastlane/test_output/StreamVideo.xcresult fastlane/test_output/logs/
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: Test Data LLC (iOS ${{ matrix.ios }})
        path: |
          fastlane/test_output/logs/*/Diagnostics/**/*.txt
          fastlane/test_output/logs/*/Diagnostics/simctl_diagnostics/DiagnosticReports/*

  build-apps:
    name: Build Demo Apps
    runs-on: macos-15
    needs: build-test-app-and-frameworks
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: actions/download-artifact@v4
      with:
        name: cache-derived-data
        path: derived_data/Build/
    - uses: ./.github/actions/ruby-cache
    - uses: ./.github/actions/xcode-cache
    - name: Build SwiftUI Demo App
      run: bundle exec fastlane build_swiftui_demo
    - name: Build UIKit Demo App
      run: bundle exec fastlane build_uikit_demo
    - name: Build Docs Test Project
      run: bundle exec fastlane build_docs_test

  build-old-xcode:
    name: Build SDKs (Old Xcode)
    runs-on: macos-14
    if: ${{ github.event_name != 'push' && github.event.inputs.snapshots != 'true' }}
    env:
      XCODE_VERSION: "16.1"
    steps:
    - name: Connect Bot
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/xcode-cache
    - uses: ./.github/actions/ruby-cache
    - name: List Xcode versions
      run: mdfind "kMDItemCFBundleIdentifier = 'com.apple.dt.Xcode'"
    - name: Build LLC
      run: bundle exec fastlane test device:"iPhone 15" build_for_testing:true
      timeout-minutes: 25
    - name: Build SwiftUI
      run: bundle exec fastlane test_swiftui device:"iPhone 15" build_for_testing:true
    - name: Build UIKit
      run: bundle exec fastlane test_uikit device:"iPhone 15" build_for_testing:true
      timeout-minutes: 25
    - name: Build XCFrameworks
      run: bundle exec fastlane build_xcframeworks
      timeout-minutes: 40
      env:
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        APPSTORE_API_KEY: ${{ secrets.APPSTORE_API_KEY }}

  automated-code-review:
    name: Automated Code Review
    runs-on: macos-14
    env:
      XCODE_VERSION: "16.1"
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/bootstrap
    - run: bundle exec fastlane rubocop
    - run: bundle exec fastlane run_swift_format strict:true
    - run: bundle exec fastlane pod_lint

  slack:
    name: Slack Report
    runs-on: ubuntu-latest
    needs: [build-and-test-debug, test-e2e-debug, build-test-app-and-frameworks, build-apps, build-old-xcode, automated-code-review]
    if: failure() && github.event_name == 'schedule'
    steps:
      - uses: 8398a7/action-slack@v3
        with:
          status: cancelled
          text: "You shall not pass!"
          job_name: "${{ github.workflow }}: ${{ github.job }}"
          fields: repo,commit,author,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_NIGHTLY_CHECKS }}
