name: Smoke Checks

on:
  push:
    branches:
      - main
      - develop

  pull_request:
    branches:
      - '**'

  release:
    types:
      - created

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI
  FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 180
  IOS_SIMULATOR_DEVICE: "iPhone 12 Pro (16.0)"

jobs:
  automated-code-review:
    name: Automated Code Review
    runs-on: macos-12
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PR_NUM: ${{ github.event.number }}
    if: ${{ github.event_name != 'push' }}
    steps:
    - uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 100
    - uses: ./.github/actions/bootstrap
    - name: Run Danger
      run: bundle exec danger
    - name: Run Fastlane Linting
      run: bundle exec fastlane rubocop
    - name: Run Code Linting
      run: bundle exec fastlane run_linter

  build-and-test-debug:
    name: Test LLC (Debug)
    runs-on: macos-12
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PR_NUM: ${{ github.event.number }}
    steps:
    - uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 100
    - uses: actions/setup-python@v4.3.0
      with:
        python-version: 3.8
        cache: 'pip'
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_SONAR: true
    - name: Run LLC Tests (Debug)
      run: bundle exec fastlane test device:"${{ env.IOS_SIMULATOR_DEVICE }}"
      timeout-minutes: 30
    - name: Get branch name
      id: get_branch_name
      run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
    - name: Run Sonar analysis
      run: bundle exec fastlane sonar_upload
      env:
        BRANCH_NAME: ${{ steps.get_branch_name.outputs.branch }}
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        text: "You shall not pass!"
        job_name: "Test LLC (Debug)"
        fields: message,commit,author,action,workflow,job,took
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
      if: ${{ github.event_name == 'push' && failure() }}

  build-and-test-swiftui-debug:
    name: Test SwiftUI (Debug)
    runs-on: macos-12
    if: ${{ github.event_name != 'push' }}
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_XCPARSE: true
    - name: Run UI Tests (Debug)
      run: bundle exec fastlane test_swiftui device:"${{ env.IOS_SIMULATOR_DEVICE }}"
      timeout-minutes: 25
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PR_NUM: ${{ github.event.number }}
    - name: Parse xcresult
      if: failure()
      run: xcparse screenshots fastlane/test_output/StreamVideoSwiftUI.xcresult fastlane/test_output/snapshots --test
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: Test Data
        path: |
          fastlane/test_output/snapshots

  build-and-test-uikit-debug:
    name: Test UIKit (Debug)
    runs-on: macos-12
    if: ${{ github.event_name != 'push' }}
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_XCPARSE: true
    - name: Run UI Tests (Debug)
      run: bundle exec fastlane test_uikit device:"${{ env.IOS_SIMULATOR_DEVICE }}"
      timeout-minutes: 25
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PR_NUM: ${{ github.event.number }}
    - name: Parse xcresult
      if: failure()
      run: xcparse screenshots fastlane/test_output/StreamVideoUIKit.xcresult fastlane/test_output/snapshots --test
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: Test Data
        path: |
          fastlane/test_output/snapshots

  build-apps:
    name: Build Demo App
    runs-on: macos-12
    if: ${{ github.event_name != 'push' }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PR_NUM: ${{ github.event.number }}
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
    - name: Build SwiftUI Demo App
      run: bundle exec fastlane build_swiftui_demo
    - name: Build UIKit Demo App
      run: bundle exec fastlane build_uikit_demo
