name: Smoke Checks

on:
  push:
    branches:
      - main
      - develop

  pull_request:
    branches:
      - '**'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI
  IOS_SIMULATOR_DEVICE: "iPhone 14 Pro (16.4)"

jobs:
  automated-code-review:
    name: Automated Code Review
    runs-on: macos-13
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PR_NUM: ${{ github.event.number }}
    if: ${{ github.event_name != 'push' }}
    steps:
    - uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 100
    - uses: ./.github/actions/bootstrap
    - name: Run Danger
      run: bundle exec danger
    - name: Run Fastlane Linting
      run: bundle exec fastlane rubocop
    - name: Run SwiftFormat Linting
      run: bundle exec fastlane run_linter
    - name: Run Podspec Linting
      run: bundle exec fastlane pod_lint

  build-and-test-debug:
    name: Test LLC (Debug)
    runs-on: macos-13
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PR_NUM: ${{ github.event.number }}
    steps:
    - uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 100
    - uses: actions/setup-python@v4.3.0
      with:
        python-version: 3.8
        cache: 'pip'
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_SONAR: true
    - name: Run LLC Tests (Debug)
      run: bundle exec fastlane test device:"${{ env.IOS_SIMULATOR_DEVICE }}"
      timeout-minutes: 30
      env:
        STREAM_VIDEO_SECRET: ${{ secrets.STREAM_VIDEO_SECRET }}
    - name: Get branch name
      id: get_branch_name
      run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
    - name: Run Sonar analysis
      run: bundle exec fastlane sonar_upload
      env:
        BRANCH_NAME: ${{ steps.get_branch_name.outputs.branch }}
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        text: "You shall not pass!"
        job_name: "Test LLC (Debug)"
        fields: message,commit,author,action,workflow,job,took
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
      if: ${{ github.event_name == 'push' && failure() }}

  build-and-test-swiftui-debug:
    name: Test SwiftUI (Debug)
    runs-on: macos-13
    if: ${{ github.event_name != 'push' }}
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
    - name: Run UI Tests (Debug)
      run: bundle exec fastlane test_swiftui device:"${{ env.IOS_SIMULATOR_DEVICE }}"
      timeout-minutes: 25
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PR_NUM: ${{ github.event.number }}
    - name: Parse xcresult
      if: failure()
      run: xcparse screenshots fastlane/test_output/StreamVideoSwiftUI.xcresult fastlane/test_output/snapshots --test
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: Test Data
        path: |
          fastlane/test_output/snapshots

  build-and-test-uikit-debug:
    name: Test UIKit (Debug)
    runs-on: macos-13
    if: ${{ github.event_name != 'push' }}
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
    - name: Run UI Tests (Debug)
      run: bundle exec fastlane test_uikit device:"${{ env.IOS_SIMULATOR_DEVICE }}"
      timeout-minutes: 25
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PR_NUM: ${{ github.event.number }}
    - name: Parse xcresult
      if: failure()
      run: xcparse screenshots fastlane/test_output/StreamVideoUIKit.xcresult fastlane/test_output/snapshots --test
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: Test Data
        path: |
          fastlane/test_output/snapshots

  build-apps:
    name: Build Demo App
    runs-on: macos-13
    if: ${{ github.event_name != 'push' }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PR_NUM: ${{ github.event.number }}
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
    - name: Build SwiftUI Demo App
      run: bundle exec fastlane build_swiftui_demo
    - name: Build UIKit Demo App
      run: bundle exec fastlane build_uikit_demo

  build-and-test-e2e-debug:
    name: Test E2E UI (Debug)
    runs-on: macos-13
    if: ${{ github.event_name != 'push' }}
    needs: allure_testops_launch
    env:
      LAUNCH_ID: ${{ needs.allure_testops_launch.outputs.launch_id }}
    strategy:
      matrix:
        batch: [0, 1]
      fail-fast: false
    steps:
    - uses: actions/checkout@v3.1.0
      if: env.LAUNCH_ID != ''
    - uses: ./.github/actions/bootstrap
      if: env.LAUNCH_ID != ''
      env:
        INSTALL_ALLURE: true
        INSTALL_VIDEO_BUDDY: true
    - name: Run UI Tests (Debug)
      if: env.LAUNCH_ID != ''
      run: bundle exec fastlane test_e2e device:"${{ env.IOS_SIMULATOR_DEVICE }}" batch:"${{ matrix.batch }}"
      timeout-minutes: 60
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PR_NUM: ${{ github.event.number }}
        MATRIX_SIZE: ${{ strategy.job-total }}
        STREAM_SDK_TEST_APP: ${{ secrets.STREAM_SDK_TEST_APP }}
        STREAM_SDK_TEST_ACCOUNT_EMAIL: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_EMAIL }}
        STREAM_SDK_TEST_ACCOUNT_PASSWORD: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_PASSWORD }}
        STREAM_SDK_TEST_ACCOUNT_OTP_SECRET: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_OTP_SECRET }}
    - name: Allure TestOps Upload
      if: env.LAUNCH_ID != '' && (success() || failure())
      run: bundle exec fastlane allure_upload launch_id:$LAUNCH_ID
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
    - name: Allure TestOps Launch Removal
      if: env.LAUNCH_ID != '' && cancelled()
      run: bundle exec fastlane allure_launch_removal launch_id:$LAUNCH_ID
      env:
        ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
    - name: Parse xcresult
      if: failure()
      run: xcparse logs fastlane/test_output/DemoApp.xcresult fastlane/test_output/logs/
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: Test Data
        path: |
          fastlane/recordings
          fastlane/sinatra-log.txt
          fastlane/video-buddy-log.txt
          fastlane/test_output/logs/*/Diagnostics/SwiftUIDemoAppUITests-*/*/*.txt

  allure_testops_launch:
    name: Launch Allure TestOps
    runs-on: macos-13
    if: ${{ github.event_name != 'push' }}
    outputs:
      launch_id: ${{ steps.get_launch_id.outputs.launch_id }}
    steps:
    - uses: actions/checkout@v3.1.0
    - uses: ./.github/actions/bootstrap
      env:
        XCODE_ACTIONS: false
    - name: Launch Allure TestOps
      run: bundle exec fastlane allure_launch
      env:
        ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_EVENT: ${{ toJson(github.event) }}
    - id: get_launch_id
      run: echo "launch_id=${{env.LAUNCH_ID}}" >> $GITHUB_OUTPUT
      if: env.LAUNCH_ID != ''
