name: Test Flight Deploy DemoApp

on:
  pull_request:
    branches:
      - 'main'

  release:
    types: [published]

  workflow_dispatch:
    inputs:
      release:
        description: 'Build configuration'
        required: true
        default: 'Debug'
        type: choice
        options:
          - Debug
          - Release
env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1

jobs:
  deploy:
    runs-on: macos-14
    env:
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      APPSTORE_API_KEY: ${{ secrets.APPSTORE_API_KEY }}
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PR_NUM: ${{ github.event.number }}
    steps:
    - name: Connect iOS Bot
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/ruby-cache
    - uses: ./.github/actions/xcode-cache
    - if: ${{ github.event.inputs.release }} == 'Debug'
      run: brew install imagemagick
    - run: bundle exec fastlane swiftui_testflight_build configuration:"${{ github.event.inputs.release }}"
      timeout-minutes: 40
    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        text: "You shall not pass!"
        fields: message,commit,author,action,workflow,job,took
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
      if: failure()
